<div class="mt-4">
    <h3>Crate new Course</h3>
    <form method="POST" action="/courses/store">
  <div class="form-group">
    <label for="name" class="form-label">Enter Name of Course</label>
    <input type="text" class="form-control" id="name" name="name" required>

  </div>
  <div class="form-group">
    <label for="description" class="form-label">Enter Description of Course</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="form-group">
    <label for="videoId" class="form-label">Enter Video Id Url of Course</label>
    <input type="text" class="form-control" id="videoId" name="videoId" required>
  </div>

  <button type="submit" class="btn btn-primary mt-4">Save</button>
</form>
</div>